<section class="container p-5">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Product Name</label>
      <input [(ngModel)]="name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">price</label>
      <input [(ngModel)]="price" type="number" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Quantity</label>
      <input [(ngModel)]="quantity" type="number" class="form-control" id="exampleInputPassword1">
    </div>

    <button (click)="addProduct()" type="submit" class="btn btn-primary">Submit</button>



<section class="container d-flex gap-5 flex-wrap mt-5">
    @for( Product of Products; track $index){
      <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-header">{{Product.name}}</div>
        <div class="card-body">
          <h5 class="card-title" >price: {{Product.price}}</h5>
          <p class="card-text" [ngClass]="{'text-danger' : Product.quantity == 0,  'text-warning': Product.quantity  == 1, 'text-bg-success': Product.quantity > 1}">quantity: {{Product.quantity}}</p>
        </div>
      </div>
    }
    @empty {
      <h1 class="alert-primary m-auto">There are no products added!</h1>
    }
</section >
</section>
